*
	box-sizing: border-box
a
	color: inherit
	text-decoration: none
.btn-default
	border-radius: 5px 
	display: inline-block
	border: 1px solid #fff
	+rmin(1200)
		transition: all .4s
		position: relative
		&:hover
			box-shadow:  0 0 2px #fff
.inner-wrapper
	+rmin(1200)
		padding:  0 29px
h1
	font: 300 100px "Hind"
	color: #fff
	+r(992)
		font-size: 60px
	+r(768)
		font-size: 50px
		line-height: 1em
.h1-block
	text-align: center
	padding-bottom: 105px
	padding-top: 30px
	+cover
	+r(767)
		padding-top: 25px	
		padding-bottom: 70px
.raised-block
	text-align: center
	position: absolute
	padding: 62px 142px 0
	background: #fff
	max-width: 1024px
	top:  173px
	z-index: 1
	border-radius: 5px 5px 0 0 
	color: $gray
	font: $main-font
	font-size: 18px
	+r(767)
		padding: 50px 80px 0
		max-width: 512px
		font-size: 13px
		line-height: 1.3em
	+r(549)
		padding: 30px 10px 0!important
		position: relative
		top: 0!important
		margin-top: 20px
	&:before
		content: ''
		position: absolute
		top: -3px
		left: 50%
		transform: translateX(-50%)
		height: 6px
		width: 71%
		background: $blue-light