*
	box-sizing: border-box

.cf:before,
.cf:after 
	content: ""
	display: block
.cf:after 
	clear: both
.cf
	zoom: 1
a
	color: inherit
	text-decoration: none
.btn-default
	border-radius: 5px 
	display: inline-block
	border: 1px solid #fff
	+rmin(1200)
		transition: all .4s
		position: relative
		&:hover
			box-shadow:  0 0 2px #fff
.btn-border

.inner-wrapper
	+rmin(1200)
		padding:  0 29px
h1
	font: 300 100px "Hind"
	color: #fff
	+r(992)
		font-size: 60px
	+r(768)
		font-size: 40px

		line-height: 1em