$gray-light: #6f6e6e
$gray: gray
$blue-light: #294773
$blue: #032137
$red: #7e1e21
$white: white

$small-main-font: 400 13px "Hind", sans-serif
$main-font: 400 15px "Hind", sans-serif
$h1-font: 300 100px/0.7em "hind", sans-serif