---
title: Index page
---
{% extends "layouts/_layout.html" %}
{% block content %}
<!--begin home-page-->
<div class="home-page">
	<!--begin slider index-first-slider-->
	<div class="slider index-first-slider">
		<div class="slider__item " style="background-image: url('img/slider1-img1.jpg');">
			<div class="container">
				<div class="slide1-content-wrapper">
					<h1>Security surfaces
						<span>for your home</span>
					</h1>
					<br>
					<a href="" class="btn-border btn-default">Write us</a>
				</div>
			</div>
		</div>
		<div class="slider__item" style="background-image: url('img/slider1-img1.jpg');">
			<div class="container">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam libero, quisquam aperiam expedita voluptatum cum ipsum explicabo excepturi iusto. Beatae quisquam commodi neque, magnam asperiores! Quia, sit debitis aliquid iusto consequuntur sapiente unde recusandae alias nostrum ut ab illo tempora odit praesentium eligendi quae inventore assumenda numquam ratione! Porro, provident.</p>
				<br>
			</div>
		</div>
		<div class="slider__item" style="background-image: url('img/slider1-img1.jpg');">
			<div class="container">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam libero, quisquam aperiam expedita voluptatum cum ipsum explicabo excepturi iusto. Beatae quisquam commodi neque, magnam asperiores! Quia, sit debitis aliquid iusto consequuntur sapiente unde recusandae alias nostrum ut ab illo tempora odit praesentium eligendi quae inventore assumenda numquam ratione! Porro, provident.</p>
				<br>
			</div>
		</div>
		<div class="slider__item" style="background-image: url('img/slider1-img1.jpg');">
			<div class="container">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam libero, quisquam aperiam expedita voluptatum cum ipsum explicabo excepturi iusto. Beatae quisquam commodi neque, magnam asperiores! Quia, sit debitis aliquid iusto consequuntur sapiente unde recusandae alias nostrum ut ab illo tempora odit praesentium eligendi quae inventore assumenda numquam ratione! Porro, provident.</p>
				<br>
			</div>
		</div>
	</div>
	<!--end slider index-first-slider-->

</div>
<!--end home-page-->


<!-- 	{# data usage example #}
{% import "data/data.html" as tests %}

{% for test in tests.list %}
<li>{{test.title}}</li>
{% endfor %}
{# end of example #} -->


{% endblock %}
