---
title: product page
---
{% extends "layouts/_layout.html" %}

{% block content %}
<!--begin services-->
<div class="services">
	<div class="h1-block services__h1-block" style="background-image: url(img/services-h1-bg.jpg);">
		<!--begin container-->
		<div class="container">
			<h1>Services</h1>
			<div class="raised-block services__raised-block">
				A continuación podrá ver las diferentes opciones de servicio que le podemos presentar y que harán que su relación con Everlasting Surface Coating, sea siempre la mejor.
			</div>
		</div>
		<!--end container-->
	</div>
	<!--begin services__main-content-->
	<div class="services__main-content">
		<!--begin container-->
		<div class="container">
				{% include "partials/_services-list.html" %}
		</div>
		<!--end container-->
	</div>
	<!--end services__main-content-->

</div>
<!--end services-->

<!-- 	{# mixin example #}
{{mixins.icon('facebook')}}
-->
<!-- 
{# data usage example #}
{% import "data/data.html" as tests %}
{% for test in tests.list %}
<li>{{test.title}}</li>
{% endfor %}
{# end of example #} -->
{% endblock %}