.company
	.company__h1-block
		background: url("../img/company-h1-bg.jpg")
.company__main-content
	background: #fff
	padding-bottom: 94px
	+r(767)
		padding-bottom: 80px
	.column-wrapper
		text-align: center
		+rmin(1200)
			padding-top: 215px
		+r(1199)
			padding-top: 150px
		+r(991)
			padding-top: 280px
		+r(549)
			padding-top: 65px
.company__h1-block
	+r(549)
		padding-bottom: 0
.company__raised
	color: $gray-light
	font: 300 22px "Hind"
	line-height: 1.3em
	+r(991)
		top: 120px
	+r(767)
		font-size: 18px
		top: 66px
	&:after
		content: ''
		position: absolute
		bottom: -40px
		left: 50%
		transform: translateX(-50%)
		height: 2px
		width: 65px
		background: $gray
	strong
		font-weight: 600
	.raised-block__author
		color: $blue-light
		font-weight: 400
		margin-top: 13px
		font-size: 15px
		span
			font-weight: 700
.company__column
	display: inline-block
	width: 353px
	font: $main-font
	color: $gray-light
	vertical-align: top
	text-align: justify
	line-height: 1.1em
	+r(991)
		width: 300px
		img
			 width: 300px
			 height: auto
	+r(767)
		font:	$small-main-font
		max-width: 360px
		width: auto
		img
			width: 360px
	+r(549)
		img
			width: 280px
			display: block
			margin-left: auto
			margin-right: auto
.company__left-column
	margin-right: 65px
	+r(991)
		margin-right: 30px
	+r(767)
		margin-right: 0
	&:first-letter
		font-size: 4em
		font-weight: 700
		float: left
	img
		margin-top: 35px
		+r(768)
			margin-bottom: 30px
.company__right-column 
	img
		margin-bottom: 35px
		+r(768)
			margin-bottom: 0
			margin-top: 35px