.contact-us
	.contact-us__h1-block
		+r(549)
			padding-bottom: 0
	.h1-block__container
		&>div
			top: 163px
			padding: 38px 142px 7px
			&:after
				content: ''
				position: absolute
				bottom: -26px
				left: 50%
				transform: translateX(-50%)
				height: 2px
				width: 65px
				background: $gray
			+r(1199)
				top: 106px
				padding: 38px 123px 0px
			+r(767)
				top: 65px
				padding: 19px 74px 0px
				font-size: 15px
	&__form
	&__main-content
		padding-bottom: 86px
		padding-top: 66px
		+r(991)
			padding-top: 80px
			padding-bottom: 52px
.contact-us__form
	font: $main-font
	color: $gray
	max-width: 710px
	margin: 0 auto 
	+clr
	+r(767)
		max-width: 387px
.contact-form
	.wrapper
		+clr
	div
	input, select, textarea, .select-view
		border: 1px solid #d0d0d0
		border-radius: 5px
		padding: 0px 10px
		color: inherit
		font: inherit
	input, .select-view
		height: 22px
	input, textarea
		display: block
		width: 88%
		float: right
		+r(991)
			width: 78%
		+r(549)
			width: 72%!important
	.adress-block
		float: left
		width: 55%
		+r(991)
			width: 100%
			float: none
		input
			width: 78%
			+r(991)
				width: 78%
	.country-block
		width: 45%
		float: right
		padding-left: 31px
		+r(991)
			width: 100%
			padding-left: 0
			float: none
		.select_wrapper
			width: 72%
			float: right
			+r(991)
				width: 78%
			+r(549)
				width: 72%
	.message-block
		textarea
			resize: none
			height: 207px
	.select_wrapper
		width: 200px
		+r(767)
			max-width: 100%
			width: 79%
.form-block
	margin-bottom: 15px
	span
		width: 78px
		display: inline-block
		vertical-align: top
.form-btn
	float: right
	display: inline-block
	margin-top: 30px
