.home-page
	h1
		max-width: 510px
		display: inline-block
		font: 300 70px/1em "Hind"
		text-align: left
		margin-top: 100px
		letter-spacing: -1px
		span
			font-weight: 600
	.first-slider
		text-align: right

		.content-wrapper
			text-align: left
			display: inline-block
		.btn-default
			margin-top: 17px
			font: 400 28px "Hind"
			padding: 0px 16px
