<footer class="footer">
	<!--begin container-->
	<div class="container ">
		<a href="" class="footer__logo" style="background-image: url('img/footer-logo.png');"></a>
		<div class="footer__first-block ">
			<a href="#" target="_blank">www.elsurfacecoating.com</a>
			<div class="footer__menu">
				<ul class="footer__menu first-block-menu">
					<li class="menu__item"><a  href="#">Home</a></li>
					<li class="menu__item"><a  href="#">Our company</a></li>
					<li class="menu__item"><a  href="#">Products</a></li>
					<li class="menu__item"><a  href="#">Services</a></li>
					<li class="menu__item"><a  href="#">Store</a></li>
					<li class="menu__item"><a  href="#">Contact us</a></li>
				</ul>
			</div>
		</div>
		<div class="footer__inner ">
			<div class="footer__manufact">
				<span>Manufactured by</span>
				<img src="img/HVAC.png" alt="HVAC">
			</div>
			<!--begin footer__contacts contacts-->
			<div class="footer__contacts contacts">
				<a class="contacts__mail" href="mailto:#" ><span>info</span>@hvacmarineinc.com</a>
				<strong>office</strong>
				<a class="contacts__phone" href="tel:+13055071020">+1 (305) 507 1020</a>
				<div class="socials footer__socials">
					<a href="#" target="_blank">{{mixins.icon('f')}}</a>
					<a href="#" target="_blank">{{mixins.icon('in')}}</a>
					<span>/ hvacmarineinc</span>
				</div>
			</div>		
		</div>
		<!--end footer__contacts contacts-->

	</div>
	<!--end container-->

</footer>