<header class="header">
	<!--begin header__top-line -->
	<div class=" header__top-line">
		<!--begin container-->
		<div class="container">
			<!--begin inner-wrapper-->
			<div class="inner-wrapper">
				<!--begin lang header__lang -->
				<div class="lang">
					<span class="lang__desc">Language /</span>
					<a class="lang-btn js-lang-btn" href="#" style="background-image: url('img/lang1.png');"></a>
					<ul class="lang__list">
						<li class="lang__item"><a href="#" style="background-image: url('img/lang1.png');"></a></li>
						<li class="lang__item"><a href="#" style="background-image: url('img/lang2.png');"></a></li>
						<li class="lang__item"><a href="#" style="background-image: url('img/lang3.png');"></a></li>
						<li class="lang__item"><a href="#" style="background-image: url('img/lang4.png');"></a></li>	
					</ul>
				</div>
				<!--end lang header__lang -->
				<a class="header__log-in btn-default" href="#">
					log in
				</a>
			</div>
			<!--end inner-wrapper-->
			
		</div>
		<!--end container-->
	</div>
	<!--end header__top-line -->
	<!--begin header-bottom container-->
	<div class="header-bottom container">
		<div class="inner-wrapper header__inner-wrapper">
			<a class=" header__logo " href="#" style="background-image: url('img/logo.png');"></a>
			<div class="menu-bnt-mobile js-menu-bnt-mobile"><div></div>MENU</div>
			<ul class="header__menu">
				<li class="header__menu-item "><a  href="index.html">HOME</a></li>
				<li class="header__menu-item"><a  href="company.html">COMPANY</a></li>
				<li class="header__menu-item"><a  href="product.html">PRODUCTS</a></li>
				<li class="header__menu-item"><a  href="services.html">SERVICES</a></li>
				<li class="header__menu-item"><a  href="store.html">STORE</a></li>
				<li class="header__menu-item"><a  href="contact-us.html">CONTACT US</a></li>
			</ul>
		</div>
	</div>
	<!--end header-bottom container-->
	<div class="mobile-menu">
		<div class="close-mobile-menu js-close-mobile-menu"></div>
		<span>menu</span>
	</div>
</header>