<!--begin content-list-->
<div class="content-list js-services-slider ">
	{% import "data/data.html" as tests %}
	{% for test in tests.services1 %}
	<div class="content-list__item" >
		<div class="content-list__img-block" style="background-image: url({{test.img}});"></div>
		<h2>{{test.h2}}</h2>
		<p>{{test.desc}}</p>
		<a class="btn-default  content-list__btn" href="#">I need this</a>
	</div>
	{% endfor %}

</div>
<!--end content-list-->
<!--begin content-list-->
<div class="content-list  js-services-slider ">
	{% import "data/data.html" as tests %}
	{% for test in tests.services2 %}
	<div class="content-list__item " >
		<div class="content-list__img-block" style="background-image: url({{test.img}});"></div>
		<h2>{{test.h2}}</h2>
		<p>{{test.desc}}</p>
		<a class="btn-default content-list__btn" href="#">I need this</a>
	</div>
	{% endfor %}

</div>
<!--end content-list-->


