{% set 
slider1= [
	{
		slide1: 'slide1'
	},
	{
		slide2: 'slide2'
	},
	{
		slide3: 'slide3'
	},
	{
		slide4: 'slide4'
	}
] 
%}
{% set 
services1= [
	{
		h2: 'Oil / Gas',
		desc: 'Aquí un texto que sirva como descripción al tipo de servicio que se presta y sus mejoras o diferencias con respecto a los otros servicios o la competencia.',
		img: 'img/services-1.png'
	},
	{
		h2: 'Marine',
		desc: 'Aquí un texto que sirva como descripción al tipo de servicio que se presta y sus mejoras o diferencias con respecto a los otros servicios o la competencia.',
		img: 'img/services-2.png'
	},
	{
		h2: 'Hardscapes',
		desc: 'Aquí un texto que sirva como descripción al tipo de servicio que se presta y sus mejoras o diferencias con respecto a los otros servicios o la competencia.',
		img: 'img/services-3.png'
	}
] 
%}
{% set 
services2= [
	{
		h2: 'HVAC',
		desc: 'Aquí un texto que sirva como descripción al tipo de servicio que se presta y sus mejoras o diferencias con respecto a los otros servicios o la competencia.',
		img: 'img/services-4.png'
	},
	{
		h2: 'Heavy Machinery',
		desc: 'Aquí un texto que sirva como descripción al tipo de servicio que se presta y sus mejoras o diferencias con respecto a los otros servicios o la competencia.',
		img: 'img/services-5.png'
	},
	{
		h2: 'Mining',
		desc: 'Aquí un texto que sirva como descripción al tipo de servicio que se presta y sus mejoras o diferencias con respecto a los otros servicios o la competencia.',
		img: 'img/services-6.png'
	}

] 
%}
{% set 
store= [
	{
		h2: 'ELSC 1090',
		strong: 'Metal General Purpose',
		desc: 'Producto especial para la limpieza y cubrimiento de superficies metalicas. Limpia y protege de manchas, oxido o cualquier tipo de sustancia que atente contra el cuidado de metales.',
		img: 'img/store1.png'
	},
	{
		h2: 'ELSC 1470',
		strong: 'Semi-gloss hardscape sealer',
		desc: 'Producto especial para la limpieza y cubrimiento de superficies metalicas. Limpia y protege de manchas, oxido o cualquier tipo de sustancia que atente contra el cuidado de metales.',
		img: 'img/store2.png'
	},
	{
		h2: 'ELSC 1110',
		strong: 'Semi-gloss floor coating',
		desc: 'Producto especial para la limpieza y cubrimiento de superficies metalicas. Limpia y protege de manchas, oxido o cualquier tipo de sustancia que atente contra el cuidado de metales.',
		img: 'img/store2.png'
	}

] 
%}