@font-face {
  font-family: "iconfont";
  src: url('fonts/iconfont.eot');
  src: url('fonts/iconfont.eot?#iefix') format('eot'),
    url('fonts/iconfont.woff2') format('woff2'),
    url('fonts/iconfont.woff') format('woff'),
    url('fonts/iconfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$icon-downblue: "\EA01";
$icon-downred: "\EA02";
$icon-f: "\EA03";
$icon-facebook: "\EA04";
$icon-in: "\EA05";
$icon-videoblue: "\EA06";
$icon-videored: "\EA07";


%icon {
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-rendering: auto;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  @extend %icon;
  display: inline-block;
}

.icon-downblue:before { content: $icon-downblue; }
.icon-downred:before { content: $icon-downred; }
.icon-f:before { content: $icon-f; }
.icon-facebook:before { content: $icon-facebook; }
.icon-in:before { content: $icon-in; }
.icon-videoblue:before { content: $icon-videoblue; }
.icon-videored:before { content: $icon-videored; }
